<div
  class="tb-bubble"
  [class.tb-bubble--own]="isOwn"
  [class.tb-bubble--other]="!isOwn"
>

  @if (shouldShowAvatar) {
    <div class="tb-bubble__avatar" [attr.aria-label]="'Avatar de ' + message.senderName">

      @if (message.senderAvatar) {
        <img
          [src]="message.senderAvatar"
          [alt]="message.senderName"
          class="tb-bubble__avatar-img"
        />
      }
      @else {
        <span class="tb-bubble__avatar-initial">
          {{ getSenderInitial() }}
        </span>
      }
    </div>
  }

  <div class="tb-bubble__content">
    @if (!isOwn) {
      <span class="tb-bubble__sender">
        {{ message.senderName }}
      </span>
    }

    <div class="tb-bubble__text">
      {{ message.content }}
    </div>

    <div class="tb-bubble__meta">
      <time
        class="tb-bubble__time"
        [attr.datetime]="message.sent_date"
      >
        {{ message.sent_date | date:'HH:mm' }}
      </time>
      @if (isOwn) {
        <span
          class="material-symbols-outlined tb-bubble__status"
          [class.tb-bubble__status--read]="message.read"
          [attr.aria-label]="getReadStatusLabel()"
        >
          {{ message.read ? 'done_all' : 'done' }}
        </span>
      }
    </div>

  </div>

</div>
