<article class="image-gallery card-toybox">
  <div class="image-gallery__main">
    <img [src]="selectedImage" [alt]="altText" />

    @if (badge) {
      <span class="image-gallery__badge">
        {{ badge }}
      </span>
    }
  </div>

  <div class="image-gallery__thumbs">
    @for (image of images; track image; let index = $index) {
      <button
        type="button"
        [class.image-gallery__thumb--active]="index === selectedIndex"
        (click)="selectImage(index)"
      >
        <img [src]="image" [alt]="altText + ' ' + (index + 1)" />
      </button>
    }
  </div>
</article>