@if (items && items.length > 0) {
  <nav class="tb-breadcrumb" aria-label="Ruta de navegación">
    <ol class="tb-breadcrumb__list">
      @for (item of items; track item.label; let last = $last) {
        <li class="tb-breadcrumb__item" [class.tb-breadcrumb__item--active]="last">
          @if (!last && item.route) {
            <a
              [routerLink]="item.route"
              class="tb-breadcrumb__link"
              role="link"
              tabindex="0"
            >
              @if (item.icon) {
                <span class="material-symbols-outlined tb-breadcrumb__link-icon" aria-hidden="true">
                  {{ item.icon }}
                </span>
              }
              <span class="tb-breadcrumb__link-text">{{ item.label }}</span>
            </a>
          } @else {
            <span
              class="tb-breadcrumb__current"
              [attr.aria-current]="last ? 'page' : null"
            >
              @if (item.icon) {
                <span class="material-symbols-outlined tb-breadcrumb__current-icon" aria-hidden="true">
                  {{ item.icon }}
                </span>
              }
              <span class="tb-breadcrumb__current-text">{{ item.label }}</span>
            </span>
          }
          @if (!last) {
            <span class="tb-breadcrumb__separator material-symbols-outlined" aria-hidden="true">
              chevron_right
            </span>
          }
        </li>
      }
    </ol>
  </nav>
}
